{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
  {% if palette %}
    .image-banner {
      filter: brightness(0.8);
    }

    .container {
      background-color: {{ palette.0 }};
    }

    h1, h2, h3, .about {
        color: {{ palette.1 }};
    }

    .btn-img {
        background-color: {{ palette.2 }};
    }

    .btn-outline-warning {
        border-color: {{ palette.4 }};
    }
  {% endif %}
</style>


<video playsinline preload="auto" autoplay muted loop 
src="{% static 'public/videos/DetailVideo.mp4' %}"
type="video/mp4" id="homeBackground">
</video>

<!-- Banner Image -->
{% if dream.photo_set.last %}
  <div class="image-banner" style="background-image: url('{{ dream.photo_set.last.url }}');"></div>

{% else %}
  <div class="image-banner">
    <div class="right-align imageMsg">No Image Uploaded</div>
  </div>
{% endif %}

<!-- Image Upload Form -->
<div class="container-p">
  <form action="{% url 'add_photo' dream.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file" id="photo-file" class="input-file" hidden>
    <label for="photo-file" class="btn-img">SELECT PHOTO</label>
    <button type="submit" class="btn-img">UPLOAD</button>
  </form>
</div>

<!-- Dream Details -->
<div class="container detail-center">
  <h1 class="pageTitle">{{ dream.name }}</h1>
  <h3 class="this-was">(this was a {{ dream.get_feeling_display }} {{ dream.get_dream_type_display }} kind of night)</h3>
  <p class="text on-date-of"><strong class="date-of-color">On the night of {{ dream.date }}, </strong> {{ dream.about }}</p>
</div>

<div class="container detail-center">
  <a href="{% url 'index' %}" class="btn waves-effect waves-light btn-small btn-us btn-space">Back to Dreams</a>
  <a href="{% url 'dreams_update' dream.id %}" class="btn waves-effect waves-light btn-small btn-us btn-space">Update Dream</a>
  <a href="{% url 'dreams_delete' pk=dream.id %}" class="btn waves-effect waves-light btn-small btn-us btn-space">Delete Dream</a>
</div>


{% endblock %}