{% extends 'base.html' %}
{% block content %}

{% load static %}

<!-- <video playsinline preload="auto" autoplay muted loop 
src="{% static 'public/videos/LoginVideo.mp4' %}"
type="video/mp4" id="homeBackground">
</video> -->

<img src="{% static 'public/imgs/watercolor.png' %}" id="background">
<div class="homeDiv">
  <h3>Welcome back, please log in.</h3>

  <form method="POST" action="{% url 'login' %}" class="login-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" >
    <button type="submit" class="btn btn-primary btn-us-outline extra-padding">Log In</button>
  </form>
</div>

{% endblock %}