{% extends 'base.html' %}
{% block content %}
{% load static %}

<video playsinline preload="auto" autoplay muted loop 
  src="{% static 'public/videos/LoginVideo.mp4' %}"
  type="video/mp4" id="homeBackground">
  </video>
<h1 class="signupTitle signup">Sign Up</h1>

<p class="red-text">{{ error_message }}</p>

<form method="POST" action="{% url 'signup' %}" class="signupForm">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn signupTitle" value="Sign Up">
</form>

{% endblock %}