{% extends 'base.html' %}
{% load static %}

{% block content %}

<img src="{% static 'public/imgs/watercolor.png' %}" id="background">
<div class="homeDiv">
    <!-- <video playsinline preload="auto" autoplay muted loop 
    src="{% static 'public/videos/AboutPage.mp4' %}"
    type="video/mp4" id="homeBackground">
    </video> -->
  <h3>ABOUT <span class="brevia-sm">somni</span></h3>
  <!-- <h4>Welcome to Somni – Your Gateway to Understanding Dreams</h4> -->
  <p class="justify-about">
    Somni transforms the way you record and analyze your dreams. It's not just a dream journal; it's a tool for unlocking the secrets of your subconscious mind.<br><br>
    <span class="bold-em underline-about">Key Features</span><br>
    <span class="bold-em">Vivid Imagery:</span> Don't just write about your dreams - bring them to life with images. Attach photos that echo your dream's essence, enriching each entry.<br>
    <span class="bold-em">Dream Categorization:</span> Classify each dream - be it a nightmare, a fantasy, or a vision. This helps in deeper analysis and understanding of your subconscious patterns.<br>
    <span class="bold-em">Emotional Reflection:</span> Record your feelings about each dream. Joy, fear, or mystery - your emotional responses are key to interpreting your dreams.<br><br>
    Somni is more than an app. It's your personal space to explore and understand the nocturnal mysteries of your mind. Designed for both casual dreamers and serious analysts, Somni offers a user-friendly interface for everyone.<br><br>
    <span class="bold-em">Start Exploring Your Dreams Today with Somni.</span>
  </p>
</div>


{% endblock %}