{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>somni</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Our Styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Brevia, Lorimer No 2 -->
    <link rel="stylesheet" href="https://use.typekit.net/sos7rmu.css">
  </head>
  <body>
    <header class="navbar-fixed">
      <nav class="nav-wrapper navbar-us">
          <!-- Brand Logo -->
          <a href="{% url 'home' %}" class="brand-logo left">somni</a>
          <!-- Navbar Links (for larger screens) -->
          <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'about' %}">ABOUT</a></li>
              {% if user.is_authenticated %}
                  <li><a href="{% url 'index' %}">MY DREAMS</a></li>
                  <li><a href="{% url 'dreams_create' %}">ADD A DREAM</a></li>
                  <li><a href="{% url 'logout' %}">LOG OUT</a></li>
              {% endif %}
          </ul>
          <!-- Sidenav Trigger -->
          <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      </nav>
      <!-- Sidenav Structure (for smaller screens) -->
      <ul id="slide-out" class="sidenav">
        <li><a class="sidenav-close" href="#!"><i class="material-icons">close</i>x</a></li>
        <li class="top-pad-side-nav"><a href="{% url 'about' %}">ABOUT</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">MY DREAMS</a></li>
            <li><a href="{% url 'dreams_create' %}">ADD A DREAM</a></li>
            <li><a href="{% url 'logout' %}">LOG OUT</a></li>
        {% endif %}
      </ul>
    </header>
    <main class="container-fluid">

      {% block content %}
        <!-- DO NOT WRITE IN HERE -->
      {% endblock %}

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, { edge: 'right' });
      });
    </script>
  </body>
</html>