{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- <video playsinline preload="auto" autoplay muted loop 
src="{% static 'public/videos/HomePage.mp4' %}"
type="video/mp4" id="homeBackground">
</video> -->
<img src="{% static 'public/imgs/watercolor.png' %}" id="homeBackground">

<div class="homeDiv">
    <!-- <img src="{% static 'public/imgs/bedcloudnob.png' %}" class="bedcloud" alt="bed on a cloud"> -->
    {% if not user.is_authenticated %}
    <h3>Welcome to the app where dreams are made.</h3>
    <p>
        <a class="btn waves-effect waves-light btn-small btn-us-outline extra-padding" href="{% url 'signup' %}" role="button">Get started</a><br><br>
        <a class="btn waves-effect waves-light btn-small btn-us-underline" href="{% url 'login' %}" role="button">Already have an account?</a>
    </p>
    {% endif %}
</div>


{% endblock %}