* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-us {
    background-color: transparent;
}

.logo-margin {
    margin-left: 5vmin;
}

.end-link-margin {
    margin-right: 5vmin;
}

main {
    flex: 1 0 auto;
}

/***************************************** Home Page ****************************************/

/* .bedcloud {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    max-width: 80vmin;
    margin-top: -20vh;
} */

/* font-family: "brevia", sans-serif;
font-weight: 900;
font-style: italic; */

/* font-family: "anth", sans-serif;
font-weight: 700;
font-style: italic; */

/* font-family: "katarine-web", sans-serif;
font-weight: 600;
font-style: normal; */

#homeBackground {
    object-fit: cover;
    width: 100vw;
    height: auto;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
}

.homeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.homeDiv > h3 {
    margin-top: 20vmin;
    color: white;
    font-size: 2rem;
    font-family: "katarine-web", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.homeDiv > p {
    text-align: center;
    padding: 10vmin;
    margin-bottom: 20vmin;
}

/***************************************** Login Page ****************************************/


/***************************************** Signup Page ****************************************/
.signupTitle {
    color: rgb(154, 53, 53);
}

.signup {
    padding-left: 5vw;
}

.signupForm {
    padding: 5vw;
}

.helptext {
    color: rgb(255, 255, 255);
}

li {
    color: rgb(255, 255, 255);
}

p {
    color: rgb(253, 253, 253);
}
/***************************************** About Page ****************************************/
.aboutPage{
    padding-left: 2vw;
}

/***************************************** Dream Detail Page ****************************************/
.imageMsg{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 3vw;
    padding-top: 7vw;
}

/***************************************** Add A Dream Page ****************************************/
.addCard{
    background: none;
}

label{
    color: rgb(255, 255, 255);
    font-size: 4vmin;
    
}

.select-dropdown{
    /* text-shadow: 0 0 5px #0026fd, 0 0 5px #1100fc; */
    color: rgb(253, 253, 253);
}

#id_date, #id_name, #id_about, #id_feeling, #id_dream_type{
    color: white;
    
}


/***************************************** Dream Index Page ****************************************/

.pageTitle {
    text-align: center;
    font-family: 'Varela Round';
    color: rgb(255, 255, 255);
}

.indexCreate{
    color: rgb(255, 255, 255);
    font-family: 'Varela Round';
    margin-left: auto;
    margin-right: auto;
}

.indexAdd{
    color: rgb(255, 255, 255);
    font-family: 'Varela Round';
    font-size: 2vw;
    text-align: center;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 5vmin;
}

.card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    /* border: 1px solid white; */
    border-radius: 20px;
}

.card-title {
    font-size: 4vmin;
    text-align: center;
}

.index-date {
    font-size: 2vmin;
    text-align: center;
}

.index-type {
    font-size: 2vmin;
    text-align: center;
    margin-top: 2rem;
}

.type-nightmare {
    color: rgb(214, 29, 0);
}

.type-amazing {
    color: rgb(255, 118, 234);
}

.type-weird {
    color: rgb(0, 128, 128);
}

hr {
    border-color:#070534;
}

/* styling for detail page */
.image-banner {
    width: 100vw;
    height: 40vmin;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.container-p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5vmin;
}

.btn-img {
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0.25rem 1.5rem;
    margin: 0 0 0 1rem;
    vertical-align: baseline;
    background-color: #dbe1ff;
    color: #000000;
    border-radius: 10px;
    font-size: 100%;
    line-height: normal;
    cursor: pointer;
    text-shadow: none;
    transition: background-color 0.3s ease;
}

.on-date-of {
    color:white;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 3rem;
}

.this-was {
    color:#dbe1ff;
    text-align: center;
    font-size: 1.75rem;
    margin-top: -1.5rem;
}

.detail-center {
    text-align: center;
}

.detail-about {
    text-align: left;
    max-width: 30vmin;
    color:white;
    font-size: 1.5rem;
}

.date-of-color {
    color:rgb(83, 157, 254)
}

.btn-space {
    margin: 40px 10px 80px 10px;
}

.delete-space-top {
    margin-top: 30vmin;
}

/***************************************** Dream Form Page ****************************************/
/* form styling */
.dream-form {
    color: white;
}

.form-field {
    background-color: #ffffff;
    color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
}


/***************************************** Buttons ****************************************/
.btn-us {
    border-radius: 10px;
    background-color: #dbe1ff;
    color:#000000;
}

.btn-us:hover {
    background-color: #0c084d;
    color:#dbe1ff;
}

.btn-us-outline {
    border-radius: 3rem;
    /* border: 1px solid white; */
    background-color: transparent;
    color:white;
    border: 0.1rem solid white;
}

.btn-us-underline {
    background-color: transparent;
    color:white;
    text-decoration: underline;
}

.btn-us-outline:hover {
    background-color: #dbe1ff;
    color:#0c084d;
}