* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-us {
    background-color: transparent;
}

.nav-link {
    color: white;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
}

/* .logo-margin {
    margin-left: 5vmin;
} */

/* .end-link-margin {
    margin-right: 2rem;
} */

main {
    flex: 1 0 auto;
}

.brand-logo {
    font-family: "brevia", sans-serif;
    font-weight: 900;
    font-style: italic;
    margin-left: 2rem;
}

.right {
    margin-right: 2rem;
}

/***************************************** Home Page ****************************************/

/* .bedcloud {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    max-width: 80vmin;
    margin-top: -20vh;
} */

/* font-family: "brevia", sans-serif;
font-weight: 900;
font-style: italic; */

/* font-family: "anth", sans-serif;
font-weight: 700;
font-style: italic; */

/* font-family: "katarine-web", sans-serif;
font-weight: 600;
font-style: normal; */

#background {
    object-fit: cover;
    width: 100vw;
    height: auto;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
}

.homeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: sp */
    height: 100vh;
}

.homeDiv > h3 {
    color: white;
    /* padding: 6rem; */
    text-align: center;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.75rem;
    margin: 15vmin 7vmin 0 7vmin;
}

.brevia {
    font-family: "brevia", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.6rem;
}

.homeDiv > p {
    margin-bottom: 20vmin;
}

.extra-padding {
    padding: 0 4rem;
}

.center-home {
    text-align: center;
}

.welcome {
    padding-top: 20vmin;
}

.home-out {
    padding: 10rem;
}

.home-in {
    padding: 4rem;
}

/***************************************** Login Page ****************************************/


/***************************************** Signup Page ****************************************/
.signup-form {
    margin: -20vmin 20vmin;
}

.signup-h3 {
    margin-bottom: -20vmin;
}

/* .signupTitle {
    color: rgb(154, 53, 53);
} */

/* .signup {
    padding-left: 5vw;
} */

/* .signupForm {
    padding: 5vw;
} */

.helptext {
    color: rgb(255, 255, 255);
}

li {
    color: rgb(255, 255, 255);
}

p {
    color: rgb(253, 253, 253);
}
/***************************************** About Page ****************************************/
.brevia-sm {
    font-family: "brevia", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 3.5rem; 
}

/* .homeDiv > h4 {
    color: white;
    padding: 6rem;
    text-align: center;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    margin-top: -20vmin;
} */

.justify-about {
    text-align: left;
    font-size: 1.5rem;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 3vmin 20vmin;
    background-color: #05041da3;
    padding: 4vmin;
    border-radius: 3rem;
}

.bold-em {
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.underline-about {
    text-decoration: underline;
}

/***************************************** Add A Dream Page ****************************************/
.addCard{
    background: none;
}

label{
    color: rgb(255, 255, 255);
    font-size: 4vmin;
    
}

.select-dropdown{
    /* text-shadow: 0 0 5px #0026fd, 0 0 5px #1100fc; */
    color: rgb(253, 253, 253);
}

#id_date, #id_name, #id_about, #id_feeling, #id_dream_type {
    color: white;
    
}


/***************************************** Dream Index Page ****************************************/

.pageTitle {
    text-align: center;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.75rem;
    color: white;
}

.indexCreate{
    color: rgb(255, 255, 255);
    font-family: 'Varela Round';
    margin-left: auto;
    margin-right: auto;
}

.indexAdd{
    color: rgb(255, 255, 255);
    font-family: 'Varela Round';
    font-size: 2vw;
    text-align: center;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 5vmin;
}

.card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    /* border: 1px solid white; */
    border-radius: 20px;
}

.card-title {
    font-size: 4vmin;
    text-align: center;
}

.index-date {
    font-size: 2vmin;
    text-align: center;
}

.index-type {
    font-size: 2vmin;
    text-align: center;
    margin-top: 2rem;
}

.type-nightmare {
    color: rgb(214, 29, 0);
}

.type-amazing {
    color: rgb(255, 118, 234);
}

.type-weird {
    color: rgb(0, 128, 128);
}

/* hr {
    border-color:#070534;
} */

/************************************ styling for detail page ************************************/
.image-banner {
    width: 100vw;
    height: 40vmin;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin-bottom: 2vmin;
    background-color: #00000052;
}

.container-p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5vmin;
}

.btn-img {
    box-sizing: border-box;
    border: 0.1rem solid #dbe1ff;
    outline: none;
    padding: 0.25rem 1.5rem;
    margin: 0 0 0 1vmin;
    vertical-align: baseline;
    background-color: #dbe1ff;
    color: #000000;
    border-radius: 4rem;
    font-size: 1rem;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
    text-shadow: none;
    transition: background-color 0.3s ease;
}

.btn-img:hover {
    background-color: transparent;
    color:white;
    border: 0.1rem solid white;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.on-date-of {
    color:white;
    font-size: 2rem;
    text-align: left;
    margin-top: 3rem;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.this-was {
    color:#dbe1ff;
    text-align: center;
    font-size: 1.75rem;
    margin-top: 0;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.detail-center {
    text-align: center;
}

.background-tone {
    background-color: #05041da3;
    border-radius: 3rem;
    padding: 7vmin;
    padding-top: 2vmin;
    margin-top: 4vmin;
}

.detail-about {
    text-align: left;
    max-width: 30vmin;
    color:white;
    font-size: 1.5rem;
}

.date-of-color {
    color:rgb(83, 157, 254)
}

.btn-space {
    margin: 3vmin 1vmin 8vmin 1vmin;
}

.delete-space-top {
    margin-top: 30vmin;
}

.imageMsg{
    color: #00000e;
    text-align: center;
    font-size: 2rem;
    padding-top: 16vmin;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 600;
    font-style: normal;

}

/***************************************** Dream Form Page ****************************************/
/* form styling */
.dream-form {
    color: white;
}

.form-field {
    background-color: #ffffff;
    color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
}


/***************************************** Buttons ****************************************/
.btn-us {
    border-radius: 10px;
    background-color: #dbe1ff;
    color:#05041d;
}

.btn-us:hover {
    background-color: #0c084d;
    color:#dbe1ff;
}

.btn-us-outline {
    border-radius: 3rem;
    background-color: transparent;
    color:white;
    border: 0.1rem solid white;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
}

.btn-us-outline:hover {
    background-color: #dbe1ff;
    border-color: #dbe1ff;
    color:#05041d;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
}

.btn-us-underline {
    background-color: transparent;
    color:white;
    text-decoration: underline;
    box-shadow: none;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
}

.btn-us-underline:hover {
    background-color: transparent;
    color:white;
    text-decoration: underline;
    box-shadow: none;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.25rem;
}

/******************* side nav *******************/
.nav-wrapper .sidenav-trigger {
    position: absolute;
    right: 0;
    top: 0;
}

/* .brand-logo {
    margin-left: -35vmin;
} */

.sidenav {
    background-color: #05041d;
    font-family: "lorimer-no-2", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sidenav a {
    color: white !important; /* Ensuring text is solid white */
    text-decoration: none !important; /* Optional: Removes underline from links */
    font-size: 1.75rem !important;
}

.sidenav-overlay {
    display: none !important;
}

.top-pad-side-nav {
    margin-top: 10vmin;
}

.sidenav-close {
    margin-left: -9vmin;
    margin-top: 2vmin;
}